// main: ../style.less
.about {
  margin: 5.6rem 0;
}
.about__inner {
  display: flex;
  max-width: 1090px;
}
.about__photo {
  width: 50%;
}
.about__icon {
  object-fit: cover;
  display: block;
  max-width: 100%;
  height: auto;
}
.about__content {
  margin-top: 2rem;
  width: 50%;
  padding-left: 3.2rem;
}
.about__title {
  font-size: 3rem;
  color: #2b2a2c;
  font-weight: 700;
  text-transform: uppercase;
}
.about__bigtitle {
  position: relative;
  left: -10px;
  font-size: 6.1rem;
  line-height: 1.1;
  color: #dedede;
  margin-bottom: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
.about__text {
  font-size: 14px;
  line-height: 2;
  color: #717072;
  font-weight: 300;
  margin-bottom: 2.8rem;
}
